$primary-color: orange;

h1 {
  color: $primary-color;
}

@mixin even() {
  &:nth-of-type(2n) {
    @content
  }
}

.sassy {
  color: green;
  li {
    list-style: kannada;
    @include even() {
      color: purple;
    }
  }
}

.unsassy {
  color: blue;
  li {
    list-style: square;
    @include even() {
      color: brown;
    }
  }
}
